# Arquivo de exemplo para configuração do stream
# Copie este arquivo para config.env e preencha com suas informações

# URL de ingestão da Kick (RTMP)
# Exemplo: rtmps://fa723fc1b171.global-contribute.live-video.net
RTMP_URL=rtmps://fa723fc1b171.global-contribute.live-video.net

# Chave secreta do seu stream na Kick
# Exemplo: sk_us-west-2_JrOv7bsRKfT6_uZeIFjhDxq3YCo6FuTPvTwhfYj8Gfz
STREAM_KEY=sk_us-west-2_EjKsW9ogmEwb_1HyG6woK3Z95jdOJfLAYjPxSCvn8p7

# Configurações opcionais do stream
FPS=30
BITRATE=4000k
